<%= erb :_nav_bar %>

<h1 class="title">theLine</h1>
<div class="search_box">
<div class="search_box_contents">
<form class="search_form" action="/sports/search" method="post">
	<input class="search_field" type="text" name="player_name" placeholder="Mike Trout">
	<input class="search_button" type="submit" value="search">
</form>
</div>
</div>

<div id="slideshow">
	<img src="https://unsplash.it/1900/1200?image=1058">
	<img src="https://unsplash.it/1900/1200?image=585">
	<img src="https://unsplash.it/1900/1200?image=73">
</div>
<div class="test">
<% if @player %>
	<div class="results_box">
		<div style="margin-left: 5px">
		<h2 class="search_player"><b><%= @player["FirstName"] %> <%= @player["LastName"] %></b></h2>
		<p class="jersey_number">Jersey Number: <%= @player["JerseyNumber"] %></p>
		<p class="position">Position: <%= @player["Position"] %></p>
		</div>
		<h3 class="stats"><b>Statistics</b></h3>
		<div style="width: 40%; margin-left: 3px; float: left;">
		  <p class="games_played">Games Played: <%= @stats["GamesPlayed"]["#text"] %></p>
    <p class="plate_appearances">Number of Plate Appearances: <%= @stats["AtBats"]["#text"] %></p>
    <p class="hits">Number of Hits: <%= @stats["Hits"]["#text"] %></p>
   </div>

    <div style="width: 40%; float: right;" >
    <p class="runs">Number of Runs: <%= @stats["Runs"]["#text"] %></p>
    <p class="homeruns">Number of Homeruns: <%= @stats["Homeruns"]["#text"] %></p>
    <p class="batting_avg">Batting Average: <%= batting_avg %></p>
    </div>
	</div>
<% end %>
</div>